html, body{
    color: #444;
    font-size: 25px;
    background: #dfe4e5;
    font-family: Tahoma;
}
.logo{
    width: 207%;
    margin-top: 60px;
}
.pull-left{
    float: left !important;
}
.vertical-space{
    margin-top: 20px;
    margin-bottom: 20px;
}
.arrow-icon{
    font-size: 144px;
    color: #727e81;
}
#currentTime{
    margin-top:30px;
}
#english_logo{
    float: left;
}
h1.floor_name{
    font-size: 100px;
}
#room_name_container{
    padding-top: 60px;
    padding-bottom: 60px;
}
.room_name{
    font-size: 65px;
}