@font-face {
    font-family: myFirstFont;
    src: url('/fonts/AraHamahKilania-Regular.otf') format('otf');
}
html, body{
    color: #667982;
    font-family: myFirstFont, sans-serif;
    font-size: 25px;
}
.logo{
    width: 100%;
    margin-top: 48px;
}
.header{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.header .col-md-8 h1{
    text-align: center;
    font-size: 60px;
}
#time-table{
    position: relative;
    right: -14px;
}
#time-table{
    position: relative;
    right: -14px;
}
#time-table thead{
    color: #ffffff;
    background: #667982;
    padding-top: 15px!important;
    padding-bottom: 15px;
}
#time-table tr td:nth-child(2), #time-table tr th:nth-child(2){
    text-align: left;
}
#time-table th:first-child{
    /* border-radius:0 px 0 0; */
    position: relative;
}
#time-table th:first-child span{
    margin-left: 5px;
}

#time-table th:last-child{
    border-radius:25px 0 0 0;
}
.current-meeting-label{
    background:#667982;
    display: block;
    float: left;
    color: white;
    width: 100%;
    padding: 5%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align:center;
    left: -14px;
    position: relative;
}
#now-paragraph{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
#start-finish-time-paragraph{
    margin-top: 70px;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}
.current-meeting-label p span:first-child{
    float: right;
    position: relative;
    right: 0;
}
.current-meeting-label p span:last-child{
    float: left;
    position: relative;
    left: 0;
}
.current-meeting-label h1{
    margin-top: 100px;
    font-weight: bolder;
    font-size: 47px;
}
footer{
    background-color: #667982;
    width: 100%;
    height: 65px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px;
}
footer p{
    color: white;
    text-align: center;
}
.current-date-label{
    right: 0;
    bottom: 65px;
    background-color: #667982;
    color: white;
    width: 30%!important;
    position: absolute;
    border-top-left-radius: 25px;
    text-align: center;
}
#meetings-logo{
    display: inline;
    position: relative;
    height: 34px;
    top: -3px;
    margin-left: 12px;
}
