
.visitors-theme-button {
	background:#577c90;
	padding:6px 30px;
	color:#fff;
	border-radius:7px;
	font-size:13pt;
}
.visitors-theme-button:hover {
	color:#fff !important;
	background:#6b8fa3;
	text-decoration:none;
}
.form-group {
	margin:0 0 20px;
}

.addmorebtn {display:none;}

.visit-container{
	overflow:hidden;
	padding:0px 10px;
	background:#fff;
	border-radius:6px;
	margin:20px 0;
	border:1px solid #c8dde6;
}
.visit-container-title {
	border-bottom:1px solid #eee;
	padding: 10px 5px;
}
.visit-container-title svg {
	margin-left: 10px;
}
.visit-container-title a {
	float: left;
	font-size: 11pt;
}
.visit-container-title h3 {
	margin:10px 0;
	font-size:16pt;
	display: inline;
	padding-bottom:10px;
}
.visit-container li {
	list-style:none;
	color:#577c90;
	font-size: 11pt;
}
.visit-container li svg {
	margin-left: 10px
}
.visit-info {
	overflow:hidden;
	padding:5px;
	background:#ebf2f5;
	border-radius:6px;
}
.visit-info li {
	float:right;
	width:30%;
	text-align:right;
	font-size:12pt;

}
.sidebar {
	overflow:hidden;
	padding:10px;
	background:#fff;
	border-radius:6px;
	margin:20px 0;
	border:1px solid #c8dde6;
}

.sidebar ul {
	margin-bottom: 0px !important;
	padding-right: 0px
}
.sidebar li {
	list-style: none;
	border-bottom: 1px solid #c8dde6;
}
.importantLevel {
	color:red;
}
.lowLevel {
	color:#ddd;
}
.criticalLevel {
	-webkit-animation: criticalLevel 1.5s ease 0s infinite normal ;
	animation: criticalLevel 1.5s ease 0s infinite normal ;
	color:red;
}

 @-webkit-keyframes criticalLevel {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes criticalLevel {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

.visits-sorting {
	font-size: 11pt;
	overflow: hidden;
	text-align: left;
	margin-top: 20px;
}
.visits-sorting ul {
	padding-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	float: left;
}
.visits-sorting li {
	list-style: none;
	float: right;
	margin-right: 15px;
}
li.visitors-list {
	list-style: none !important;
	margin-right: 10px !important;
}

  
.form-group-half-1 {
	float: right;
    padding-right: 0;
}

.form-group-half-2 {
	float: right;
    padding-right: 0; padding-left:0;
}

@media (max-width: 992px) {
	.form-group-half-1 {
		padding-left: 0;
	}
}

.navbar-header {
	float:right;
}