body {
    font-family: 'cairo-bold';
    /* font-family: 'cairo'; */

    background: #005C97; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10/ Edge, Firefox 16, Chrome 26, Opera 12, Safari 7 */

    color: #516982;
}

a {
    color: #7a95f7;
}

.visitors-theme-button {
    padding: 6px 15px 9px;
    color: #fff;
    border-radius: 15px;
    font-size: 13pt;
    border: 1px solid #858fd2;
    background: transparent;
}

.visitors-theme-button:hover {
    color: #fff !important;
    background: #234196;
    text-decoration: none;
}

.visitors-theme-button svg {
    margin-left: 5px;
}

.visits-sorting {
    font-size: 11pt;
    overflow: hidden;
    text-align: left;
    margin-top: 12px;
}

.visits-sorting span {
    float: right;
    color: #fff;
}

.visits-sorting li {
    list-style: none;
    float: right;
    margin-right: 10px;
}

.visits-sorting li a:hover, .visits-sorting li a.current {
    text-decoration: none;
    color: #fff;
}

.left-position li {
    float: left !important;
}
.left-position {
    right: 0px !important;
    left: 0px !important;
    top: 0px !important;
}
.box {
    overflow: hidden;
    padding: 0px 10px;
    background: #fff;
    border-radius: 15px;
    margin: 20px 0;
}

.box h4 {
    margin-bottom: 20px;
}

.box a:hover, .box a:active, .box a:focus {
    color: #517fd2;
}

.box-title {
    padding: 17px 5px;
}

.box-title svg {
    margin-left: 10px;
}

.box-title a {
    float: left;
    font-size: 11pt;
}

.box-title h3 {
    margin: 10px 0;
    font-size: 16pt;
    display: inline;
    padding-bottom: 10px;
}

.box li {
    list-style: none;
    font-size: 11pt;
    padding: 1px 0;
}

.box li svg {
    margin-left: 10px
}

.box input[type=submit], .box .btn {
    padding: 6px 15px 9px;
    color: #fff;
    border-radius: 15px;
    font-size: 13pt;
    background: #313b94;
}

.box input[type=button]:hover, .box .btn:hover {
    color: #fff !important;
    background: #234196;
    text-decoration: none;
}

.box input[type=button] svg, .box .btn svg {
    margin-left: 5px;
}

.box input[type=submit].btn-danger, .box .btn.btn-danger {
    background: #ef3c3c;
    border-color: #ef3c3c;
}

.box .btn-sm {
    font-size: 9pt;
}

.no-data {
    text-align: center;
    padding: 40px 10px;
    color: #afafaf;
}

.page-title {
    border-bottom: 1px solid #848ed2;
    padding-bottom: 15px;
}

.page-title h3 {
    margin-top: 6px;
    color: #fff;
}

.page-title form .form-control {
    width: 170px;
    margin-left: 15px;
    display: inline-block;
}

.alert-success {
    background: transparent;
    color: #c0ff87;
    border-color: #c0ff87;
}

.alert .close {
    opacity: 1;
    text-shadow: none;
    color: inherit;
}

.alert .close:hover {
    color: #fff;
}

.alert svg {
    margin-left: 5px;
}

#brand {
    text-align: center;
    margin: 25px;
}
#brand img {
    max-width: 200px;
}

.form-group-guest .col-md-6 input[type=text] {
    margin-top: 15px;
    margin-bottom: 15px;
}

#mainVisitorsName {
    margin-top: 44px;
}

.visit-info {
    padding: 5px;
    background: #e8effb;
    border-radius: 15px;
    color: #3753a2;
    border: 1px solid #c1cfe8;
}

#usersListTable_wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

#usersListTable_filter * {
    margin-left: 10px;
    margin-right: 10px;
}

.filter-form-control {
    border: 1px solid #9f9f9f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

.filter-form-control:focus {
    outline: none;
}
.panel-heading h3{
    display: inline;
}
.panel-heading a{
    top: 0;
}
.guest-delete-btn{
    float: right;
    background: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    /* background-color: white; */
}
.guest-delete-btn-ar{
    float: left;
    background: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    /* background-color: white; */
}
.guestInformation row{
    margin-top: 15px;
    margin-bottom: 15px;
}
.visit-info li *{
    margin-right: 10px;
    margin-left: 10px;
}
.toggled{
    display: none;
}
@media only screen and (min-width: 900px){
    #guest_checkin_btn{
        position: relative;
        left: -159px;
    }
    #guest_checkout_btn{
        position: relative;
        float: left!important;
        left: -159px;
    }
}
@media only screen and (max-width: 426px) {
    #main-visit-btn {
        font-size: 11px;
    }

    .box input[type=submit], .box .btn {
        padding: 6px 15px 9px;
        color: #fff;
        border-radius: 15px;
        font-size: 7pt;
        background: #313b94;
    }

    .text-left a, .text-left button {
        width: 100%;
    }

    .text-left a:not(:last-child) {
        margin-bottom: 10px;
    }

    #departmentListTable tbody td:not(.text-left) {
        width: 600px;
    }

    #departmentsHeader {
        text-align: center;
        clear: both;
        font-size: 40px;
    }

    #newDeptartmentForm {
        width: 100%;
        margin-top: 1em;
    }
    .visits-sorting ul{
        position: relative;
        top: 0px;
        padding: 0;
        right: -15px;
        margin: 0;
    }
    #newDeptartmentForm input[name=name] {
        width: 257px;
    }

    #usersListTable, #usersContainer {
        overflow: auto;
    }

    .visits-sorting ul {
        padding: 0;
        margin: 0;
    }
    .guest-info-card{
        height: 363px;
    }
    #guest_checkout_btn{
        position: relative;
        float: left!important;
    }

}
.min-logo{
    width: 120px;
    height: 95px
}
.navbar-logo{
    height: 60px
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-top: 40px;
}
.navbar{
    min-height: 90px;
}
